.navbar-inverse {
	background-color: black;
	border-color: #080808;
}

.jumbotron {
	background-image:url('../assets/jumbotron.jpg');
	padding-top: 180px;
	padding-bottom:100px;
}

.jumbotron > .container > h1{
	font-family: 'Pinyon Script', cursive;
	color:white !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#aboutHomeH{
	margin-top:75px;
}

#servicesOfferedH{
	margin-top:0px;
}

#onSiteLivingH{
	margin-top:0px;
}

footer{
	height:60px;
	padding-top:10px;
	background-color: gray;
}

footer > .container > .row > div > p{
	margin:0px;
	color:white;
} 

footer > .container > .row  > p > a{
	margin:0px;
	color:white !important;
} 

html, body, #map-canvas {
    position:relative;
    height: 500px;
    width:100%;
    margin: 0px;
    padding: 0px
}

@media (min-width: 768px) {
	.jumbotron > .container > h1{
		margin-left:50px;
		width:600px;
	}

	.jumbotron {
		padding-top: 200px;
		padding-bottom:200px;
		margin-bottom: 80px;
	}
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px){
	.featurette-heading {
		margin-top: 0px;
	}
}

@media (min-width: 1200px){
	.featurette-heading {
		margin-top: 120px;
	}
}